

.container-prod {
    color: white;
    gap: 0.5rem;

}

.card-body {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-size: 14px;
    padding-top: 2px;
}

.card-img{
    max-width: 200px;
}
.btn{
    padding: 2px 16px 2px 16px;
    background-color: white;
    cursor: pointer;
    font-weight: 700;
}
.btn:hover{
    background-color: rgb(65, 61, 61);
    color: white;
}
.card-footer{
    padding-top: 12px;
}

.detalle-style{
    border-style: solid;
    padding: 3px 6px;
}