.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ecommerce {
    max-width: 600px;
}

p {
    color: white;
    padding: 2px;
    font-size: 16px;
}

.texto {
    padding: 70px 0 0 0;
}